<div class="form-group">
    <input class="form-control" type="text" id="idea-title" value='Title'>
    <input class="form-control" type="text" id="idea-body" value='Body'>
    <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Save">
</div>
