<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet"> -->
  </head>
  <nav>

    <a class="navbar-brand">Instant Ideas</a>

  </nav>
  <body>
    <div class="searching">
      <input class="nav-right" type="text" placeholder="Search" required id="search-bar">
    </div>
    <%= yield %>
  </body>
</html>
